#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.digit {
    font-size: 80px;
    color: gray;
    padding: 12px;
}

.txt {
    font-size: 80px;
    color: gray;
}

.btn {
    font-size: 30px;
    margin: 10px;
    background-color: white;
    padding: 10px;
    width: 120px;
}

#ButtonContainer {
    margin-top: 10px;
}

#start {
    color : green;
    border-color: green;
}

#pause {
    color : red;
    border-color: red;
}

#reset {
    color : orange;
    border-color: orange;
}





